@model BeanSceneProject.Areas.Staff.Models.Sitting.Create

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sitting</h4>
<hr />
<div class="row  justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" type="date" id="StartDate" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpenTime" class="control-label"></label>
                <input asp-for="OpenTime" class="form-control" type="time" id="OpenTime" />
                <span asp-validation-for="OpenTime" class="text-danger" id="OpenTimeHelp"></span>
                <span class="text-warning" id="OpenTimeWarn"></span>
            </div>
            <div class="form-group">
                <label asp-for="CloseTime" class="control-label"></label>
                <input asp-for="CloseTime" class="form-control" type="time" id="CloseTime" />
                <span asp-validation-for="CloseTime" class="text-danger" id="CloseTimeHelp"></span>
                <span class="text-warning" id="CloseTimeWarn"></span>
            </div>
            <div class="form-group">
                <label asp-for="SittingTypeId" class="control-label"></label>
                <select asp-for="SittingTypeId" asp-items="Model.SittingTypes" class="form-select">
                    <option value="">--Select Sitting Type--</option>
                </select>
                <span asp-validation-for="SittingTypeId " class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestuarantId" class="control-label"></label>
                <select asp-for="RestuarantId" asp-items="Model.Restraunts" class="form-select">
                    <option value="">--Select Sitting Type--</option>
                </select>
                <span asp-validation-for="RestuarantId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" type="number" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group justify-content-center p-1">
                <input type="submit" value="Create" class="btn btn-success btn-lg" />
                <button asp-action="Index" class="btn btn-warning btn-lg">
                    Back to Sittings
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/sittingCreate.js"></script>
}
