@model BeanSceneProject.Data.Sitting

@{
    ViewData["Title"] = "Delete";
}

<div class="row bg-white">
    <div class="col-6">
        <h2>Confirm Delete?</h2>
        <hr />
    </div>
</div>

<div class="row justify-content-center bg-white">
    <dl class="row">
        <dt class="col-sm-2">
            Sitting:
        </dt>
        <dd class="col-sm-10">
            @{
                string sittingInfo = $"{Model.Open.ToShortDateString()} {Model.Open.ToShortTimeString()} - {Model.Close.ToShortTimeString()} {Model.SittingType.Name}";
            }
            @sittingInfo
        </dd>
        <dt class="col-sm-2">
            Status:
        </dt>
        <dd class="col-sm-10">
            @{
                string status;
                if (Model.IsClosed)
                {
                    status = "Closed";
                }
                else
                {
                    status = "Open";
                }
            }
            @status
        </dd>
        <dt class="col-sm-2">
            Reservations:
        </dt>
        <dd class="col-sm-10">
            @{
                string reservations = Model.Reservations.Count.ToString();
            }
            @reservations
        </dd>
        <dt class="col-sm-2">
            People booked:
        </dt>
        <dd class="col-sm-10">
            @{
                string heads = Model.Heads.ToString();
            }
            @heads
        </dd>
    </dl>
    <div class="row">
        <div class="col-md-6">
            <form asp-action="Delete">
                <div class="form-group justify-content-center p-1">
                    <div class="d-grid gap-2">
                        <input type="submit" value="Delete" class="btn btn-danger btn-lg m-0" />
                        <a asp-action="Index" class="btn btn-warning btn-lg m-0">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}