@model BeanSceneProject.Areas.Staff.Models.StaffReservation.Create

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-12 bg-white">
        <h2>Create New</h2>
        <h4>Reservation</h4>
        <hr />
        <div>
            <p>Sitting: @Model.SittingInfo</p>
            <p>Seats available: @Model.Available</p>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 bg-white">
        <form asp-action="Create" id="ReservationCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MobileNumber" class="control-label"></label>
                        <input asp-for="MobileNumber" class="form-control" />
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Start" class="control-label"></label>
                        <select asp-for="Start" class="form-select" id="StartTime">
                            <option value="">--Select a reservation time--</option>
                        </select>
                        <span asp-validation-for="Start" class="text-danger" id="StartTimeHelp"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <select asp-for="Duration" class="form-select" id="Duration" disabled>
                            <option value="">--Select a duration--</option>
                        </select>
                        <span asp-validation-for="Duration" class="text-danger" id="DurationHelp"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReservationOriginId" class="control-label"></label>
                        <select asp-for="ReservationOriginId" asp-items="Model.ReservationOrigins" class="form-select">
                            <option value="">--Select Reservation Origin--</option>
                        </select>
                        <span asp-validation-for="ReservationOriginId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CustomerNum" class="control-label"></label>
                        <input asp-for="CustomerNum" class="form-control" type="number" min="1" value="2" max="@(Model.Available)" />
                        <span asp-validation-for="CustomerNum" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" class="form-control" type="text" rows="4"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group justify-content-center p-1">
                <input type="submit" value="Assign Tables" class="btn btn-success btn-lg" />
                <a class="btn btn-warning btn-lg" asp-action="Index" asp-route-id="@Model.SittingId">Back to List</a>
            </div>
            <input asp-for="SittingId" hidden />
            <input asp-for="Available" id="Available" hidden />
            <input asp-for="SittingOpen" id="SittingOpen" hidden />
            <input asp-for="SittingClose" id="SittingClose" hidden />
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/reservationCreate.js"></script>
}