@model BeanSceneProject.Areas.Staff.Models.Reservation.Create

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row  justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" type="datetime-local" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" type="datetime-local" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationOriginId" class="control-label"></label>
                <select asp-for="ReservationOriginId" asp-items="Model.ReservationOrigins" class="form-select">
                    <option value="">--Select Sitting Type--</option>
                </select>
                <span asp-validation-for="ReservationOriginId" class="text-danger">--Select Reservation Origin--</span>
            </div>
            <div class="form-group justify-content-center p-1">
                <input type="submit" value="Create" class="btn btn-success btn-lg" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}